<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MainTest">

    <test name="FormTest" parallel="false">
        <classes>
            <class name="RegisrationFormTest">
                <methods>
                    <include name="CheckRegistrationForm"/>
                </methods>
            </class>
            <class name="RegisrationFormChainTest">
                <methods>
                    <include name="checkRegistrationFormDataChain"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>